absl-py==1.4.0
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==5.0.0
anyio==3.6.2
appdirs==1.4.4
arrow==1.2.3
async-timeout==4.0.2
attrs==23.1.0
audioread==3.0.0
Brotli==1.0.9
cached-property==1.5.2
cachetools==5.3.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
chex==0.1.7
click==8.1.3
cmake==3.26.3
contourpy==1.0.7
cuda-python==12.1.0
cycler==0.11.0
Cython==0.29.34
datasets==2.12.0
dateparser==1.1.8
decorator==5.1.1
dill==0.3.6
dm-tree==0.1.8
etils==1.2.0
fastapi==0.95.2
ffmpeg==1.4
ffmpy==0.3.0
filelock==3.12.0
fire==0.5.0
flax==0.6.9
fonttools==4.39.4
frozenlist==1.3.3
fsspec==2023.5.0
google-api-core==2.11.0
google-api-python-client==2.86.0
google-auth==2.17.3
google-auth-httplib2==0.1.0
googleapis-common-protos==1.59.0
gradio==3.32.0
gradio_client==0.2.5
h11==0.14.0
httpcore==0.17.2
httplib2==0.22.0
httpx==0.24.1
huggingface-hub==0.14.1
humanize==4.6.0
idna==3.4
importlib-resources==5.12.0
jax==0.4.10
jax-smi==1.0.3
jax3d==0.0.1
jaxlib
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
kiwisolver==1.4.4
lazy_loader==0.2
librosa==0.10.0.post2
linkify-it-py==2.0.2
lit==16.0.3
llvmlite
Mako==1.2.4
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
mdit-py-plugins==0.3.3
mdurl==0.1.2
ml-dtypes==0.1.0
moment==0.12.1
MouseInfo==0.1.3
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
multiprocess==0.70.14
mutagen==1.46.0
nest-asyncio==1.5.6
networkx==3.1
ninja==1.11.1
numba==0.57.0
numpy==1.24.3
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==8.9.1.23
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
openai==0.27.6
opt-einsum==3.3.0
optax==0.1.5
orbax-checkpoint==0.2.2
orjson==3.8.13
packaging==23.1
pandas==2.0.1
Pillow==9.5.0
platformdirs==3.5.1
pooch==1.6.0
protobuf==4.22.4
pyarrow==12.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAutoGUI==0.9.53
pycairo==1.23.0
pycparser==2.21
pycryptodomex==3.18.0
pycuda==2022.2.2
pydantic==1.10.8
pydub==0.25.1
PyGetWindow==0.0.9
Pygments==2.15.1
PyGObject==3.44.1
PyMsgBox==1.0.9
pyparsing==3.0.9
pyperclip==1.8.2
PyRect==0.2.0
pyrsistent==0.19.3
PyScreeze==0.1.28
python-dateutil==2.8.2
python-multipart==0.0.6
python3-xlib==0.15
pytools==2022.1.14
pytweening==1.0.7
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
regex==2023.5.5
requests==2.30.0
responses==0.18.0
rich==13.3.5
ring==0.10.1
rsa==4.9
scikit-learn==1.2.2
scipy==1.10.1
semantic-version==2.10.0
six==1.16.0
sniffio==1.3.0
so-lazy==0.0.2
SoundCard==0.4.2
sounddevice==0.4.6
soundfile==0.12.1
soxr==0.3.5
starlette==0.27.0
sympy==1.11.1
tensorstore==0.1.36
termcolor==2.3.0
threadpoolctl==3.1.0
times==0.7
tokenizers==0.13.3
toolz==0.12.0
tpu==0.1.0
tpunicorn==0.5.5
tputils==0.0.1
tqdm==4.65.0
transformers==4.28.1
triton==2.0.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
uc-micro-py==1.0.2
uritemplate==4.1.1
urllib3==2.0.2
uvicorn==0.22.0
websockets==11.0.3
whisper-jax @ git+https://github.com/sanchit-gandhi/whisper-jax.git@0d3bc54c8c673d71732ba6bc20fa0323b1101fa6
wirerope==0.4.7
xxhash==3.2.0
yarl==1.9.2
yt-dlp==2023.3.4
