/* app classes */
.warning {
    font-size: 24pt;
    font-weight: bold;
	color: red;
	border: 3px solid red;
}

.info {
    font-size: 24pt;
    font-weight: bold;
	color: lightblue;
	border: 3px solid;
}

.trans {
    font-size: 24pt;
    font-weight: bold;
	color: white;
	border: 3px solid;
}

